/*元素記号ゲームのスタイルシート*/

*{
 box-sizing: border-box;
 overflow:hidden;
 padding:0px;
 margin:0px;
 
 border-style:none;
 text-align:center;

}




div{
 display: table;
 position: absolute;
 z-index: 1;
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
p{
 display: table-cell;
 text-align:center;
 vertical-align:middle;
 position: relative;
}


div.header{
background-color: lavenderblush;
width: 100%;
height: 5%;
top: 0%;
left: 0%;
border-style:solid;
border-color:lightpink;
border-width:3%;
z-index:50;
}

div.notebtn{
background-color: lightyellow;
width: 10%;
height: 80%;
top: 5%;
left: 85%;
font-size:x-small;
border-style:solid;
border-color:plum;
border-width:3%;
z-index:51;
}

div.footer{
background-color: lavenderblush;
width:100%;
height: 5%;
top: 95%;
left: 0%;
border-style:solid;
border-color:lightpink;
border-width:3%;
z-index:50;
}

div.leftside{
background-image: -moz-repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 
background-image: -webkit-repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 
background-image: -o-repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 
background-image: -ms-repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 
background-image: repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 

width:10%;
height: 90%;
top: 5%;
left: 0%;
border-style:solid;
border-color:moccasin;
border-width:3%;
}

div.rightside{
background-image: -moz-repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 
background-image: -webkit-repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 
background-image: -o-repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 
background-image: -ms-repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 
background-image: repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 

width:10%;
height: 90%;
top: 5%;
left: 90%;
border-style:solid;
border-color:moccasin;
border-width:3%;
}

div.cvs{
background-color: lightgrey;
width:80%;
height: 90%;
top: 5%;
left: 10%;
border-style:solid;
border-color:aquamarine;
border-width:3%;
}



div.btnshoot{
background-color: tomato;
width:80%;
height: 10%;
top: 87.5%;
left: 10%;
border-style:solid;
border-color:red;
border-width:3%;
z-index:14
}


div.scrlbox{
    background: -moz-linear-gradient(top, LightSlateGray , LightSlateGray  50%, Gainsboro 50%, Gainsboro);
    background: -webkit-linear-gradient(top, LightSlateGray , LightSlateGray  50%, Gainsboro 50%, Gainsboro);
    background: linear-gradient(top, LightSlateGray , LightSlateGray  50%, Gainsboro 50%, Gainsboro);
    -moz-background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
    

width:100%;
height: 50%;
top: 0%;
left:0%;
border-style:solid;
border-color:lightyellow;
border-width:3%;
z-index:10;
}

div.sitem1{
background-color: transparent;
width:100%;
height: 11%;
top: 0%;
left:0%;
}
div.sitem2{
background-color: transparent;
width:100%;
height: 11%;
top: 11%;
left:0%;
}
div.sitem3{
background-color: transparent;
width:100%;
height: 11%;
top: 22%;
left:0%;
}
div.sitem4{
background-color: transparent;
width:100%;
height: 11%;
top: 33%;
left:0%;
}
div.sitem5{
background-color: transparent;
width:100%;
height: 11%;
top: 44%;
left:0%;
}
div.sitem6{
background-color: transparent;
width:100%;
height: 11%;
top: 55%;
left:0%;
}
div.sitem7{
background-color: transparent;
width:100%;
height: 11%;
top: 66%;
left:0%;
}
div.sitem8{
background-color: transparent;
width:100%;
height: 11%;
top: 77%;
left:0%;
}
div.sitem9{
background-color: transparent;
width:100%;
height: 11%;
top: 88%;
left:0%;
}

div.scrlitem1{
background-color: #888888;
width: 80%;
height: 100%;
top: 0%;
left: 10%;
border-style:solid;
border-color:#444444;
border-width:3%;
}
div.scrlitem2{
background-color: #aaaaaa;
width: 80%;
height: 100%;
top: 0%;
left: 10%;
border-style:solid;
border-color:#666666;
border-width:3%;
}
div.scrlitem3{
background-color: #bbbbbb;
width: 80%;
height: 100%;
top: 0%;
left: 10%;
border-style:solid;
border-color: #999999;
border-width:3%;
}
div.scrlitem4{
background-color: #cccccc;
width: 80%;
height: 100%;
top: 0%;
left: 10%;
border-style:solid;
border-color:#bbbbbb;
border-width:3%;
}
div.scrlitem5{
background-color: #ffffff;
width: 80%;
height: 100%;
top: 0%;
left: 10%;
border-style:solid;
border-color:yellow;
border-width:3%;
}
div.scrlitem6{
background-color: #cccccc;
width: 80%;
height: 100%;
top: 0%;
left: 10%;
border-style:solid;
border-color:#bbbbbb;
border-width:3%;
}
div.scrlitem7{
background-color: #bbbbbb;
width: 80%;
height: 100%;
top: 0%;
left: 10%;
border-style:solid;
border-color:#999999;
border-width:3%;
}
div.scrlitem8{
background-color: #aaaaaa;
width: 80%;
height: 100%;
top: 0%;
left: 10%;
border-style:solid;
border-color:#666666;
border-width:3%;
}
div.scrlitem9{
background-color: #888888;
width: 80%;
height: 100%;
top: 0%;
left: 10%;
border-style:solid;
border-color:#444444;
border-width:3%;
}
div.qa{
background-color: #ffffff;
width:100%;
height: 100%;
top: 0%;
left:0%;
border-style:solid;
border-color:#bbbbbb;
border-width:3%;
}

.btnstart1{
opacity:0.8;
background-color: lightblue;
width:40%;
height:40%;
top: 30%;
left: 10%;
border-style:solid;
border-color:lime;
border-width:3%;
z-index:20;
}

.btnstart2{
opacity:0.8;
background-color: lightblue;
width:40%;
height:40%;
top: 30%;
left: 50%;
border-style:solid;
border-color:lime;
border-width:3%;
z-index:20;
}

#dummy{
  opacity:0.01;
  background-color:gold;
  position :absolute;
  width:100%;
  height:50%;
  left:0%;
  top:0%;
  overflow:scroll;
  z-index:11;
}

#dummyp{
  background-color:green;
  width:100%;
  height:1000px;
  left:0%;
  top:0%;
  
}

div.card{
background-color: yellow;
width:80%;
height: 5%;
top: 45%;
left: 10%;
border-style:solid;
border-color:lightgreen;
border-width:3%;
z-index:12;
}

div.shootbar{
background-color: lime;
width:10%;
height: 3%;
top: 85%;
left: 45%;
border-style:solid;
border-color:limegreen;
border-width:3%;
z-index:15;
}

div#hantei{
    opacity:0.8;
	background-color: blue;
	width:80%;
	height: 20%;
	top: 15%;
	left: 10%;
	border-style:solid;
	border-color:lightblue;
	border-width:3%;
	z-index:0;
}
div#hantei p{
    font-size:140%;
}

div.btnend{
    opacity:0.8;
    display:none;
	background-color: orange;
	width:80%;
	height: 60%;
	top: 20%;
	left: 10%;
	border-style:solid;
	border-color:oldlace;
	border-width:3%;
	z-index:91;
}
div.btnend p{
    font-size:400%;
    z-index:95;
}

.qa textarea{
    background-color:lightyellow;
	position:relative;
	height:90%;
	width:100%;
	top:5%;
	line-height: 1.5em;
	overflow:scroll;
	border-style:solid;
	border-color:lavender;
	border-width:3%;
	padding:5%;
	z-index:40;
}


