/*元素記号ゲームのスタイルシート*/

*{
	box-sizing: border-box;
	overflow:hidden;
	padding:0px;
	margin:0px;
 
	border-style:none;
	text-align:center;
 
}




div{
	display: table;
	position: absolute;
	z-index: 1;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

p{
	display: table-cell;
	text-align:center;
	vertical-align:middle;
	position: relative;
}


.header{
	background-color: lavenderblush;
	border-style:solid;
	border-color:lightpink;
	z-index:50;
}

.notebtn{
	background-color: lightyellow;
	font-size:x-small;
	border-style:solid;
	border-color:plum;
	z-index:51;
}

.footer{
	background-color: lavenderblush;
	border-style:solid;
	border-color:lightpink;
	z-index:50;
}

.leftside{
	background-image: -moz-repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 
	background-image: -webkit-repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 
	background-image: -o-repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 
	background-image: -ms-repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 
	background-image: repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 
	border-style:solid;
	border-color:moccasin;
}

.rightside{
	background-image: -moz-repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 
	background-image: -webkit-repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 
	background-image: -o-repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 
	background-image: -ms-repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 
	background-image: repeating-radial-gradient(-100% 10%,ellipse,burlywood 1%,wheat 4%,burlywood 5%,wheat 12%,burlywood 13%); 

	border-style:solid;
	border-color:moccasin;
}

.cvs{
	background-color: lightgrey;
	border-style:solid;
	border-color:aquamarine;
}



.btnshoot{
	background-color: tomato;
	border-style:solid;
	border-color:red;
	z-index:14
}


.scrlbox{
	background: -moz-linear-gradient(top, LightSlateGray , LightSlateGray  50%, Gainsboro 50%, Gainsboro);
	background: -webkit-linear-gradient(top, LightSlateGray , LightSlateGray  50%, Gainsboro 50%, Gainsboro);
	background: linear-gradient(top, LightSlateGray , LightSlateGray  50%, Gainsboro 50%, Gainsboro);
	-moz-background-size: 15px 15px;
	-webkit-background-size: 15px 15px;
	background-size: 15px 15px;
    

	border-style:solid;
	border-color:lightyellow;
	z-index:10;
}


.panel{
	border-style:solid;
}


.scrlitem1{
	background-color: #888888;
	border-color:#444444;
}
.scrlitem2{
	background-color: #aaaaaa;
	border-color:#666666;
}
.scrlitem3{
	background-color: #bbbbbb;
	border-color: #999999;
}
.scrlitem4{
	background-color: #cccccc;
	border-color:#bbbbbb;
}
.scrlitem5{
	background-color: #ffffff;
	border-color:yellow;
}
.scrlitem6{
	background-color: #cccccc;
	border-color:#bbbbbb;
}
.scrlitem7{
	background-color: #bbbbbb;
	border-color:#999999;
}
.scrlitem8{
	background-color: #aaaaaa;
	border-color:#666666;
}
.scrlitem9{
	background-color: #888888;
	border-color:#444444;
}
.qa{
	background-color: #ffffff;
	border-style:solid;
	border-color:#bbbbbb;
}

.btnstart1{
	opacity:0.8;
	background-color: lightblue;
	border-style:solid;
	border-color:lime;
	z-index:20;
}

.btnstart2{
	opacity:0.8;
	background-color: lightblue;
	border-style:solid;
	border-color:lime;
	z-index:20;
}

#dummy{
	opacity:0.001;
	background-color:gold;
	position :absolute;
	overflow-y:scroll;
	z-index:11;
}

#dummyp{
	background-color:green;
}

.card{
	background-color: yellow;
	border-style:solid;
	border-color:lightgreen;
	z-index:12;
}

.shootbar{
	background-color: lime;
	border-style:solid;
	border-color:limegreen;
	z-index:15;
}

div#hantei{
	opacity:0.8;
	background-color: blue;
	border-style:solid;
	border-color:lightblue;
	z-index:0;
}
div#hantei p{
	font-size:140%;
}

.btnend{
	opacity:0.8;
	display:none;
	background-color: orange;
	border-style:solid;
	border-color:oldlace;
	z-index:91;
}
.btnend p{
	font-size:400%;
	z-index:95;
}

.qatext{
	background-color:lightyellow;
	position:relative;
	line-height: 1.5em;
	overflow-y:auto;
	border-style:none;
	padding:10;
	z-index:40;
}

